@inherits UmbracoViewPage<IISHFTest.Core.Models.PasswordResetRequestModel>
@using IISHFTest.Core.Controllers.SurfaceControllers
@model IISHFTest.Core.Models.PasswordResetRequestModel

@{
    var modelContent = Umbraco.ContentAtRoot().ToList();
    var registerContent = modelContent
        .FirstOrDefault(x => x.Name == "Home")!.Children()?
        .FirstOrDefault(x => x.Name == "Reset Password");


    var heroImageObj = registerContent.Value<IPublishedContent>("heroImage");
    var heroImage = heroImageObj != null ? heroImageObj.Url() : "";
}

<div class="jumbotron jumbotron-fluid hero hero-large" style="background-image: url('@heroImage')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container custom-container">
            <h1 class="display-4">@registerContent.Value("heroTitle")</h1>
            <p class="lead">@registerContent.Value("heroSubtitle")</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        @if ((string)TempData["status"] == "Member Registered Ok")
        {
            <h4 class="mt-5">An email has been sent to validate your email address.</h4>
            <br/>
            <h4 class="mt-5">Please check your inbox and follow the instructions. If you do not see the email after 10 minutes please see your spam folder.</h4>
        }
        else
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                @Html.ValidationSummary()
                @using (Html.BeginUmbracoForm<UserController>("HandlePasswordResetAction"))
                {
                    <div class="form-group mb-2 col-12 col-sm-12 col-md-4 col-lg-4">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control ", placeholder = "Password", type = "password" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-2 col-12 col-sm-12 col-md-4 col-lg-4">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Password confirmation", type = "password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Reset Password"/>
                }
            </div>            
        }

    </div>
</div>