@using IISHFTest.Core.Controllers
@using MailKit.Search
@model IISHFTest.Core.Models.ITCEventInformationViewModel

<div class="container container-custom mt-3">

    @{
        if (@Model == null)
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Event Reference</strong>
                    <p id="sanction">@Model.SanctionNumber</p>
                    <input id="isChampionship" type="hidden" value="@Model.IsChampionship" />

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Age Group</strong>
                    <p id="ageGroup">@Model.AgeGroup</p>
                    <input id="shortCode" type="hidden" value="@Model.ShortCode" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Start and End Date</strong>
                    <p class=""><span id="startDate">@Model.EventStartDate.ToString("dd.MM.yyyy")</span> - <span id="endDate">@Model.EventEndDate.ToString("dd.MM.yyyy")</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Hosting Club</strong>
                    <p>@Model.HostingClub</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Event Location</strong>
                    <p>@Model.EvenLocation.Replace("\n", ", ").Replace(",,", ", ")</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Event Country</strong>
                    <p>@Model.HostingCountry</p>
                </div>
            </div>
        }
    }
</div>

<script>
    $(document).ready(function () {
        @if (Model != null && Model.Teams != null)
        {

            
            <text>

            var selectedTeamName = $("#teamName").val();
            console.log("Selected Team Name : " + selectedTeamName)

            var teams = @Html.Raw(Json.Serialize(Model.Teams));
            if (teams.length > 0) {
                var selectHtml = '<select class="form-control" id="teamName">';
                selectHtml += '<option value="">Select a Team</option>';

                $.each(teams, function (index, team) {
                    selectHtml += `<option value="${team}">${team}</option>`;
                });

                selectHtml += '</select>';
                $('#teamName').replaceWith(selectHtml);

                

            } else {
                var textboxHtml = '<input type="text" class="form-control" placeholder="Team Name" id="teamName" />';
                $('#teamName').replaceWith(textboxHtml);
            }

            $('#teamName').val(selectedTeamName).change();
            $('#teamName').prop('disabled', true);

            </text>
        }
        else
        {
            <text>
            var textboxHtml = '<input type="text" class="form-control" placeholder="Team Name" id="teamName" />';
            $('#teamName').replaceWith(textboxHtml);
            </text>
        }
    });
</script>
