@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ITC>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using IISHFTest.Core.Controllers.SurfaceControllers
@using System.Globalization
@{
    Layout = "Main.cshtml";
    var id = Model.Id;
    var rosterMembers = Umbraco.Content(id).Children().Where(x => x.ContentType.Alias == "roster").ToList();

    var heroImageObj = Model.Value<IPublishedContent>("heroImage");
    var heroImage = heroImageObj != null ? heroImageObj.Url() : "";

    string[] priorityCountries = { "United Kingdom", "Germany", "Switzerland", "Austria", "Denmark", "Ukraine" };

    // Get all countries and ISO codes
    var countries = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
        .Select(c => new RegionInfo(c.Name))
        .Distinct()
        .Select(x => new
        {
            Country = x.EnglishName,
            ISO3 = x.ThreeLetterISORegionName
        })
        .Where(x => !string.IsNullOrEmpty(x.ISO3))
        .OrderBy(x => Array.IndexOf(priorityCountries, x.Country) == -1 ? int.MaxValue : Array.IndexOf(priorityCountries, x.Country))
        .ThenBy(x => x.Country);
}

<div class="jumbotron jumbotron-fluid hero hero-large" style="background-image: url('@heroImage')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container custom-container">
            <h1 class="display-4">@Model.Value("heroTitle")</h1>
            <p class="lead">@Model.Value("heroSubtitle")</p>
        </div>
    </div>
</div>

<div class="container custom-container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            @using (Html.BeginUmbracoForm<EventsController>("SubmitItc", null, new { @class = "custom-form" }))
            {
                    <table class="table table-hover mb-5 tablesaw" data-tablesaw-mode="stack">
                    <thead>
                        <tr>
                            <th>License</th>
                            <th>Role</th>
                            <th>Player Name</th>
                            <th style="width: 50px">Jersey Number</th>
                            <th >Date of Birth</th>
                            <th>Nationality</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody id="formRows">
                        @for (int i = 0; i < rosterMembers.Count(); i++)
                        {
                            <tr>
                                <td><input type="text" class="form-control" name="License[]" value="@rosterMembers[i].Value("licenseNumber")" /></td>
                                <td>
                                    <select class="form-control" name="Role[]">
                                        <option value="Captain" selected="@(rosterMembers[i].Value<string>("role") == "Captain")">Captain</option>
                                        <option value="Assistant Captain" selected="@(rosterMembers[i].Value<string>("role") == "Assistant Captain")">Assistant Captain</option>
                                        <option value="Netminder" selected="@(rosterMembers[i].Value<string>("role") == "Netminder")">Netminder</option>
                                        <option value="Player" selected="@(rosterMembers[i].Value<string>("role") == "Player")">Player</option>
                                        <option value="" selected="@(string.IsNullOrWhiteSpace(rosterMembers[i].Value<string>("role")))">Select Role</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" name="PlayerName[]" value="@rosterMembers[i].Value("playerName")" /></td>
                                <td><input type="text" class="form-control" name="JerseyNumber[]" oninput="validateNumber(this)" value="@rosterMembers[i].Value("jerseyNumber")" /></td>
                                <td>
                                    @{
                                        var dob = rosterMembers[i].Value<DateTime>("dateOfBirth").ToString("dd.MM.yyyy");
                                    }
                                    <input type="text" class="form-control" name="DateOfBirth[]" placeholder="DD.MM.YYYY" value="@dob"/>
                                </td>
                                <td>
                                    <select class="form-control" name="Nationality[]">
                                        <option value="">Select Nationality</option>
                                        @foreach (var country in countries)
                                        {
                                            var isSelected = country.Country.Equals(rosterMembers[i].Value<string>("nationality"));
                                            <option value="@country.ISO3" selected="@isSelected">@country.Country</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" name="gender[]">
                                        <option value="Male" selected="@(rosterMembers[i].Value<string>("gender") == "Male")">Male</option>
                                        <option value="Female" selected="@(rosterMembers[i].Value<string>("gender") == "Female")">Female</option>
                                        <option value="" selected="@(string.IsNullOrWhiteSpace(rosterMembers[i].Value<string>("gender")))">Select Gender</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button type="button" onclick="addRow()">Add Row</button>
                <button type="submit">Submit</button>
            }
        </div>
    </div>
</div>

<script>

    var countries = @Html.Raw(Json.Serialize(@countries));

    $(document).ready(function () {

        // Validate existing rows on page load
        validateAllLicenses();
        validateAllJerseyNumbers();
        validateRoles();

        // Attach event handlers for input changes
        $('input[name^="License"]').on('input', function () {
            validateAllLicenses();
        });

        $('input[name^="JerseyNumber"]').on('input', function () {
            validateAllJerseyNumbers();
        });

        $('select[name^="Role"]').on('change', function () {
            validateRoles();
        });

        // Attach event handlers for losing focus
        $('input[name^="License"]').on('blur', function () {
            validateAllLicenses();
        });

        $('input[name^="JerseyNumber"]').on('blur', function () {
            validateAllJerseyNumbers();
        });

        var nationalityDropdown = $('select[name^="Nationality"]');
        for (var i = 0; i < countries.length; i++) {
            var option = $('<option></option>').attr('value', countries[i]).text(countries[i]);
            nationalityDropdown.append(option);
        }
    });

    // Array to keep track of selected roles
    var selectedRoles = [];

    function validateAllLicenses() {
        var licenseInputs = $('input[name^="License"]');
        var licenseValues = [];

        licenseInputs.each(function () {
            var value = $(this).val().trim();
            licenseValues.push(value);
        });

        licenseInputs.each(function () {
            var value = $(this).val().trim();
            var isDuplicate = licenseValues.indexOf(value) !== licenseValues.lastIndexOf(value);

            if (isDuplicate) {
                $(this).addClass('is-duplicate');
            } else {
                $(this).removeClass('is-duplicate');
            }
        });
    }

    function validateAllJerseyNumbers() {
        var jerseyInputs = $('input[name^="JerseyNumber"]');
        var jerseyValues = [];

        jerseyInputs.each(function () {
            var value = $(this).val().trim();
            jerseyValues.push(value);
        });

        jerseyInputs.each(function () {
            var value = $(this).val().trim();
            var isDuplicate = jerseyValues.indexOf(value) !== jerseyValues.lastIndexOf(value);

            if (isDuplicate) {
                $(this).addClass('is-duplicate');
            } else {
                $(this).removeClass('is-duplicate');
            }
        });
    }

    function validateRoles() {
        var roleSelects = $('select[name^="Role"]');
        var roleSelections = [];

        roleSelects.each(function () {
            var selectedRole = $(this).val();
            roleSelections.push(selectedRole);
        });

        roleSelects.each(function () {
            var selectedRole = $(this).val();
            var isDuplicate = roleSelections.indexOf(selectedRole) !== roleSelections.lastIndexOf(selectedRole);

            if (isDuplicate && selectedRole) {
                $(this).addClass('is-duplicate-role');
            } else {
                $(this).removeClass('is-duplicate-role');
            }
        });
    }

    function addRow() {

        var formRows = $('#formRows');
        var newRow = $('<tr></tr>');
        newRow.hide();

        var inputs = ['License', 'Role', 'PlayerName', 'JerseyNumber', 'DateOfBirth', 'Nationality', 'Gender'];

        $.each(inputs, function (index, input) {
            var inputContainer = $('<td></td>');
            var newInput;
            if (input === 'Role' || input === 'Nationality' || input === 'Gender') {
                newInput = $('<select class="form-control"></select>');
                // Add default option
                newInput.append('<option value="">Select ' + input + '</option>');

                // Populate options dynamically
                switch (input) {
                    case 'Role':
                        newInput.append('<option value="Captain">Captain</option>');
                        newInput.append('<option value="Assistant Captain">Assistant Captain</option>');
                        newInput.append('<option value="Netminder">Netminder</option>');
                        newInput.append('<option value="Player">Player</option>');
                        break;
                    case 'Nationality':
                        // Assuming you have a list of countries in the 'countries' variable
                        $.each(countries, function (i, country) {
                            newInput.append('<option value="' + country.isO3 + '">' + country.country + '</option>');
                        });
                        break;
                    case 'Gender':
                        newInput.append('<option value="Male">Male</option>');
                        newInput.append('<option value="Female">Female</option>');
                        break;
                }
            } else {
                newInput = $('<input type="text" class="form-control">');
            }

            newInput.attr('name', input + '[]');

            // Update the placeholder based on Umbraco form values
            switch (input) {
                case 'License':
                    newInput.attr('placeholder', input);
                    break;
                case 'Role':
                    // You can set the options dynamically based on Umbraco form values if needed
                    break;
                case 'PlayerName':
                    newInput.attr('placeholder', "Player Name");
                    break;
                case 'JerseyNumber':
                    newInput.attr('placeholder', "##");
                    newInput.on('input', function () {
                        validateAllJerseyNumbers();
                    });
                    // Attach blur event for jerseyNumber textboxes
                    newInput.on('blur', function () {
                        validateAllJerseyNumbers();
                    });
                    break;
                case 'DateOfBirth':
                    newInput.attr('placeholder', "DD.MM.YYYY");
                    break;
                case 'Nationality':
                    newInput.attr('placeholder', input);
                    break;
                case 'Gender':
                    newInput.attr('placeholder', input);
                    break;
            }

            
            inputContainer.append(newInput);
            newRow.append(inputContainer);

        });
            newRow.toggle(500);

        formRows.append(newRow);
    }

    addRow();
</script>







