@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsArticles>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json.Linq
@using Azure.Core
@using IISHFTest.Extensions
@{
    Layout = "Main.cshtml";
    var heroImageObj = Model.HeroImage;
    var heroImage = heroImageObj != null ? heroImageObj.Url() : "";

    DateTime today = DateTime.UtcNow;

    var newsArticles = Umbraco.Content(Guid.Parse("6627a7e1-7f4d-467e-a29e-cc71a885a27f"))
        .ChildrenOfType("newsArticle")
        .Where(x => x.IsVisible() && x.Value<DateTime>("postDate") <= today)
        .OrderByDescending(x => x.Value<DateTime>("postDate")).ToList();

    var tags = newsArticles
         .SelectMany(x => x.Value<string[]>("newsCategories"))
         .Distinct()
         .ToArray();

    var catValue = Context.Request.Query["cat"].ToString();

    if (!string.IsNullOrWhiteSpace(catValue))
    {
        newsArticles = newsArticles.Where(x => x.Value<string[]>("newsCategories").Contains(catValue)).ToList();
    }

    const int pageSize = 12; // Make this configurable

    var numberOfPages = (int)Math.Ceiling((double)newsArticles.Count() / (double)pageSize);
    var selectedPage = 1;

    if (!string.IsNullOrWhiteSpace(Context.Request.Query["page"].ToString()))
    {
        int.TryParse(Context.Request.Query["page"].ToString(), out selectedPage);
        if (selectedPage <= 0 || selectedPage > numberOfPages)
        {
            selectedPage = 1;
        }


    }

    var nextPage = selectedPage + 1;
    var previousPage = selectedPage - 1;

    newsArticles = newsArticles.Skip((selectedPage - 1) * pageSize).Take(pageSize).ToList();
}

<div class="jumbotron jumbotron-fluid hero" style="background-image: url('@heroImage')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container custom-container">
            <h1 class="display-4">@Model.Value("heroTitle")</h1>
            <p class="lead">@Model.Value("heroSubtitle")</p>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">

        <div id="filter" class="col-12 col-sm-12 col-md-2 col-lg-2 order-1 order-md-2 mb-3">
            <div class="row">
                <div class="col-12">
                    <h1>Filters <i id="toggleFilters" class="fa-light fa-filter"></i></h1>
                </div>
                <div id="filters" class="col-12">

                    @if (!string.IsNullOrWhiteSpace(catValue))
                    {
                        <a href="@Model.UrlSegment" class="badge bg-secondary text-white">Clear Filters</a>
                    }
                    @foreach (var tag in tags.OrderBy(x => x))
                    {
                        var activeClass = "bg-secondary";
                        if (catValue.ToLower().Equals(tag, StringComparison.InvariantCultureIgnoreCase))
                        {
                            activeClass = "bg-orange";
                        }
                        <a href="@Model.UrlSegment?cat=@tag" class="badge @activeClass text-white">@tag.CapitalizeFirstLetter()</a>
                    }
                </div>
            </div>
        </div>

        <div id="news-stories" class="col-12 col-sm-12 col-md-10 col-lg-10 order-2 order-md-1">
            <div class="row">
                <div class="col-12">
                    <h1>Articles</h1>
                </div>
                @foreach (var article in newsArticles)
                {
                    var imageCropperJson = article.Value<string>("articleImage");
                    var imageCropperObj = JObject.Parse(imageCropperJson);
                    var originalImageUrl = imageCropperObj["src"].ToString();

                    var thumbCrop = imageCropperObj["crops"]?.FirstOrDefault(c => c["alias"].ToString() == "Main");
                    var thumbUrl = string.Empty;
                    if (thumbCrop != null)
                    {
                        var width = int.Parse(thumbCrop["width"].ToString());
                        var height = int.Parse(thumbCrop["height"].ToString());

                        var coordinates = thumbCrop["coordinates"];
                        if (coordinates is JObject && coordinates["x1"] is JToken x1Token &&
                        coordinates["y1"] is JToken y1Token && coordinates["x2"] is JToken x2Token &&
                        coordinates["y2"] is JToken y2Token)
                        {
                            double x1, y1, x2, y2;
                            if (double.TryParse(x1Token.ToString(), out x1) &&
                            double.TryParse(y1Token.ToString(), out y1) &&
                            double.TryParse(x2Token.ToString(), out x2) &&
                            double.TryParse(y2Token.ToString(), out y2))
                            {
                                // Convert fractional coordinates to pixel values
                                var cropX = (int)(x1 * width);
                                var cropY = (int)(y1 * height);
                                var cropWidth = (int)((x2 - x1) * width);
                                var cropHeight = (int)((y2 - y1) * height);

                                thumbUrl = $"{originalImageUrl}?mode=crop&x={cropX}&y={cropY}&width={cropWidth}&height={cropHeight}";
                            }
                            else
                            {
                                // Handle the case where coordinates are not valid numbers
                                // Possibly log this issue and decide on fallback behavior
                                thumbUrl = originalImageUrl; // Fallback to the original image
                            }
                        }
                        else
                        {
                            thumbUrl = $"{originalImageUrl}?mode=crop&width={width}&height={height}";
                        }
                    }

                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 mb-3">
                        <a href="@article.Url()" class="card-link">
                            <div class="card">
                                <img class="card-img-top" src="@thumbUrl" alt="Card image cap">
                                <div class="card-body news">
                                    <h5 class="card-title">@article.Name</h5>
                                    <p class="card-text">@article.Value("leadIn")</p>
                                </div>
                                <div class="card-overlay">
                                    <i class="fa-regular fa-eye fa-flip-vertical text-white mr-3"></i>
                                    <span class="overlay-text">Read Now</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }


            </div>
            @if (numberOfPages > 1)
            {
                <div id="pagination" class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item @(previousPage < 1 ? "disabled" : "")">
                                    <a class="page-link orange" href="@(previousPage < 1 ? "#" : Model.UrlSegment + "?page=" + previousPage)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                @{
                                    int startPage = 1;
                                    int endPage = numberOfPages;

                                    if (numberOfPages > 10)
                                    {
                                        if (selectedPage <= 6)
                                        {
                                            endPage = 10;
                                        }
                                        else if (selectedPage + 4 >= numberOfPages)
                                        {
                                            startPage = numberOfPages - 9;
                                        }
                                        else
                                        {
                                            startPage = selectedPage - 5;
                                            endPage = selectedPage + 4;
                                        }
                                    }
                                }

                                @for (var i = startPage; i <= endPage; i++)
                                {
                                    <li class="page-item @(i == selectedPage ? "active-orange" : "")">
                                        <a class="page-link orange" href="@Model.UrlSegment?page=@i">@i</a>
                                    </li>
                                }

                                <li class="page-item @(nextPage > numberOfPages ? "disabled" : "")">
                                    <a class="page-link orange" href="@(nextPage > numberOfPages ? "#" : Model.UrlSegment + "?page=" + nextPage)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#toggleFilters').click(function () {
            $('#filters').slideToggle(250); // 250 milliseconds for animation
        });
    });
</script>
