@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NMacontactsAndTeams>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
    var heroImageObj = Model.HeroImage;
    var heroImage = heroImageObj != null ? heroImageObj.Url() : "";

    var id = Model.Id;
    var parent = Umbraco.Content(id).Parent;

    var contacts = parent.Children().Where(x => x.ContentType.Alias == "nMAContact").ToList();
    var reportedClubs = parent.Children().Where(x => x.ContentType.Alias == "nMAReporting").OrderByDescending(x => int.Parse(x.Name)).FirstOrDefault().Children().ToList();

}
<div class="jumbotron jumbotron-fluid hero hero-large" style="background-image: url('@heroImage')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container custom-container">
            @{
                var title = $"{@parent.Name} - {@Model.Value("heroTitle")}";

            }
            <h1 class="display-4">@title</h1>
            <p class="lead">@Model.Value("heroSubtitle")</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    @{
        if (contacts != null && contacts.Any())
        {
            <div class="row">
                <h2 class="text-center">@parent.Name Contacts</h2>
                @{
                    foreach (var contact in contacts)
                    {
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@contact.Name</h5>
                                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                                    @{
                                        if (!string.IsNullOrWhiteSpace(contact.Value<string>("contactTelephone")))
                                        {
                                            var telephone = contact.Value<string>("contactTelephone");
                                            string modifiedNumber;
                                            if (telephone.StartsWith("00"))
                                            {
                                                modifiedNumber = "+" + telephone.Substring(2);
                                            }
                                            else
                                            {
                                                // If the number does not start with '00', leave it as is or handle accordingly
                                                modifiedNumber = telephone;
                                            }
                                            if (!string.IsNullOrWhiteSpace(telephone))
                                            {
                                                <div class="form-group">
                                                    <i class="fa-duotone fa-square-phone-flip"></i>
                                                    @modifiedNumber
                                                </div>
                                            }
                                        }
                                    }
                                    <div class="form-group">
                                        @{
                                            var email = string.IsNullOrWhiteSpace(contact.Value<string>("nMAContactEmail"))
                                                    ? parent.Value<string>("email")
                                                    : contact.Value<string>("nMAContactEmail");

                                            if (!string.IsNullOrWhiteSpace(email))
                                            {
                                                <i class="fa-regular fa-at"></i>
                                                <a href="mailto:@email">@email</a>
                                            }
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }

    @{
        if (reportedClubs != null && reportedClubs.Any())
        {
            <div class="row">
                <h2 class="text-center">Clubs</h2>
                @{
                    foreach (var club in reportedClubs)
                    {
                        var logo = club.Value<IPublishedContent>("clubLogo");
                        var clubContact = club.Value<string>("primaryClubContact");
                        var telephone = club.Value<string>("primaryClubContactPhone");
                        var email = club.Value<string>("primaryClubContactEmail");

                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    @{
                                        if (@logo?.Url() != null)
                                        {
                                            <img class="card-img-top img img-fluid" src="" alt="Card image cap">
                                        }
                                    }
                                    <h5 class="card-title">@club.Name</h5>
                                    
                                    
                                    @{
                                        if (string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(telephone))
                                        {
                                            <h6 class="card-subtitle mb-2 text-muted">Contact information not supplied</h6>
                                        }
                                        else
                                        {
                                            <h6 class="card-subtitle mb-2 text-muted">Primary Club Contact Information</h6>
                                        }
                                    }

                                    <div class="form-group">
                                        
                                        @{
                                            if (!string.IsNullOrWhiteSpace(clubContact))
                                            {
                                                <i class="fa-regular fa-at"></i>
                                                @clubContact
                                            }
                                        }
                                    </div>
                                    @{
                                        string modifiedNumber;
                                        if (telephone.StartsWith("00"))
                                        {
                                            modifiedNumber = "+" + telephone.Substring(2);
                                        }
                                        else
                                        {
                                            // If the number does not start with '00', leave it as is or handle accordingly
                                            modifiedNumber = telephone;
                                        }

                                        if (!string.IsNullOrWhiteSpace(telephone))
                                        {
                                            var telephoneLink = $"tel:{modifiedNumber}";
                                            <div class="form-group">
                                                <i class="fa-duotone fa-square-phone-flip"></i>
                                                <a href="@telephoneLink">@modifiedNumber</a>
                                            </div>
                                        }
                                    }
                                    <div class="form-group">
                                       
                                        @{
                                            var emailLink = $"mailto:{@email}";
                                            if (!string.IsNullOrWhiteSpace(email))
                                            {
                                                <i class="fa-regular fa-at"></i>
                                                <a href="@emailLink">@email</a>
                                            }
                                        }
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
</div>