@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TeamInformationSubmission>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using System.Globalization
@using System.Text.Json
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Services
@{
    Layout = "Main.cshtml";
    var heroImageObj = Model.Value<IPublishedContent>("heroImage");
    var heroImage = heroImageObj != null ? heroImageObj.Url() : "";

    IPublishedContent? team = null;
    IPublishedContent? nmaTeam = null;
    IPublishedContent? selectedTournament = null;



    Guid.TryParse(Context.Request.Query["team"].ToString(), out var teamInformationKey);
    if (teamInformationKey != Guid.Empty)
    {
        // build itc information from team information for event
        team = Umbraco.Content(teamInformationKey);
        nmaTeam = Umbraco.Content(team.Value<Guid>("nMATeamKey"));
        selectedTournament = Umbraco.Content(team.Parent.Id);
    }

    var isSubmitted = team.Value<bool>("teamInformationSubmitted");

    var rosterMembers = team?.Children().Where(x => x.ContentType.Alias == "roster").ToList() ?? new List<IPublishedContent>();
    var players = rosterMembers.Where(x => !x.Value<bool>("isBenchOfficial")).ToList();
    var benchOfficials = rosterMembers.Where(x => x.Value<bool>("isBenchOfficial")).ToList();

    var eventYear = DateTime.UtcNow.Year.ToString();

    var rootContent = Umbraco.ContentAtRoot().ToList();
    var tournaments = rootContent
        .FirstOrDefault(x => x.Name == "Home")!.Children()?
        .FirstOrDefault(x => x.Name == "Tournaments")!.Children().ToList();
    ;

    var cups = tournaments
        .FirstOrDefault(x => x.Name == "European Cups")
        .Children()
        .Select(x => x.Children.FirstOrDefault(x => x.Name == eventYear))
        .ToList();

    var championships = tournaments
        .FirstOrDefault(x => x.Name == "European Championships")
        .Children()
        .Select(x => x.Children.FirstOrDefault(x => x.Name == eventYear))
        .ToList();

    var allEvents = cups.Where(x => x != null).ToList().Concat(championships.Where(x => x != null).ToList()).ToList().Select(x => new
    {
        EventName = x.Parent.Name,
        Id = x.Id
    });

    string[] priorityCountries = { "United Kingdom", "Germany", "Switzerland", "Austria", "Denmark", "Ukraine" };

    // Get all countries and ISO codes
    var countries = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
        .Select(c => new RegionInfo(c.Name))
        .Distinct()
        .Select(x => new
        {
            Country = x.EnglishName,
            ISO3 = x.ThreeLetterISORegionName
        })
        .Where(x => !string.IsNullOrEmpty(x.ISO3))
        .OrderBy(x => Array.IndexOf(priorityCountries, x.Country) == -1 ? int.MaxValue : Array.IndexOf(priorityCountries.OrderBy(x => x).ToArray(), x.Country))
        .ThenBy(x => x.Country);

}

<div class="jumbotron jumbotron-fluid hero hero-large" style="background-image: url('@heroImage')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container custom-container">

            @{
                var headerTitle = string.Empty;
                if (team != null)
                {
                    headerTitle = $"{@Model.Value<string>("heroTitle")} - {team.Name}";
                }
                else
                {
                    headerTitle = Model.Value<string>("heroTitle");
                }
            }

            <h1 class="display-4">@headerTitle</h1>
            <p class="lead">@Model.Value("heroSubtitle")</p>
        </div>
    </div>
</div>

<div class="container custom-container mt-5 mb-5">
    <div class="row">

        <div class="col-md-3">
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <span class="nav-link mb-3 p-3 shadow" id="v-pills-players-tab">
                    <select id="eventSelect" class="form-control">
                        @{
                            <option value="">Select Event for @DateTime.Now.Year.ToString()</option>

                            foreach (var iishfEvent in allEvents)
                            {
                                <option value="@iishfEvent.Id">@iishfEvent.EventName</option>
                            }
                        }
                    </select>

                    <div id="eventInformation"></div>
                </span>
                <a class="nav-link mb-3 p-3 shadow active" id="v-pills-team-tab" data-bs-toggle="pill" href="#v-pills-team" role="tab" aria-controls="v-players-team" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Team Information</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id="v-pills-players-tab" data-bs-toggle="pill" href="#v-pills-players" role="tab" aria-controls="v-players-players" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Players</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id="v-pills-bench-tab" data-bs-toggle="pill" href="#v-pills-bench" role="tab" aria-controls="v-bench-bench" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Bench Officials</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id="v-pills-teamphoto-tab" data-bs-toggle="pill" href="#v-pills-teamphoto" role="tab" aria-controls="v-players-teamphoto" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Team Photo</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id="v-pills-logo-tab" data-bs-toggle="pill" href="#v-pills-logo" role="tab" aria-controls="v-players-logo" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Club Logo</span>
                </a>
                
                @{
                    var hasSponsor = nmaTeam.Children().Any(x => x.ContentType.Alias == "sponsor");
                    if (!isSubmitted || (hasSponsor && hasSponsor))
                    {
                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-sponsors-tab" data-bs-toggle="pill" href="#v-pills-sponsors" role="tab" aria-controls="v-players-sponsors" aria-selected="true">
                            <span class="font-weight-bold small text-uppercase">Sponsors</span>
                        </a>
                    }
                }
               
                @{
                    if (!isSubmitted)
                    {
                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-submit-tab" data-bs-toggle="pill" href="#v-pills-submit" role="tab" aria-controls="v-submit-submit" aria-selected="true">
                            <span class="font-weight-bold small text-uppercase">Submit</span>
                        </a>
                    }
                }
            </div>

        </div>
        <div class="col-md-9">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-team" role="tabpanel" aria-labelledby="v-pills-team-tab">
                    <div class="row form-group">
                        <label for="teamName" class="col-12 col-md-4 col-form-label">Team Name:</label>
                        <div class="col-12 col-md-8">
                            @{
                                var teamName = @team?.Name ?? string.Empty;
                            }
                            <input type="text" class="form-control" placeholder="Team Name" id="teamName" value="@teamName" />

                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="issuingCountry" class="col-12 col-md-4 col-form-label">Issuing Country:</label>
                        <div class="col-12 col-md-8">
                            <select class="form-control" id="issuingCountry" name="issuingCountry">
                                <option value="">Nationality</option>
                                @{
                                    bool addedSeparator = false; // Flag to check if separator has been added
                                                                 // This will get the index of last priority country in the sorted list
                                    var lastPriorityCountryIndex = countries.ToList().FindLastIndex(c => priorityCountries.Contains(c.Country));

                                    foreach (var country in countries)
                                    {
                                        if (country.ISO3 == team?.Value<string>("countryIso3"))
                                        {
                                            <option selected="true" value="@country.ISO3">@country.Country</option>
                                        }
                                        else
                                        {
                                            <option value="@country.ISO3">@country.Country</option>
                                        }
                                        if (countries.ToList().IndexOf(country) == lastPriorityCountryIndex && !addedSeparator)
                                        {
                                            // Add the separator
                                            <option disabled>──────────</option>
                                            addedSeparator = true; // Ensure the separator is only added once
                                        }
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="colourOne" class="col-12 col-md-4 col-form-label">First Jersey Colour:</label>
                        <div class="col-12 col-md-4">
                            <div class="input-group mb-3">
                                <div id="colorPicker" class="input-group-prepend color-picker-container"></div>
                                <input type="text" class="form-control" placeholder="Team colour" id="colourOne" aria-label="Team colour in hex" aria-describedby="colorPickerAddon">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="jerseyTwoColour" class="col-12 col-sm-4 col-md-4 col-form-label">Second Jersey Colour:</label>
                        <div class="col-12 col-md-4">
                            <div class="input-group mb-3">
                                <div id="colorPicker2" class="input-group-prepend color-picker-container"></div>
                                <input type="text" class="form-control" placeholder="Team colour" id="colourTwo" aria-label="Team colour in hex" aria-describedby="colorPickerAddon">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="jerseyTwoColour" class="col-12 col-sm-4 col-md-4 col-form-label">Team history:</label>
                        <div class="col-12 col-md-8">
                            <div class="input-group mb-3">
                                <div id="teamHistory"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-players" role="tabpanel" aria-labelledby="v-pills-players-tab">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-hover mb-5 tablesaw" data-tablesaw-mode="stack">
                            <thead>
                                <tr>
                                    <th style="width: 150px">License</th>
                                    <th>Role</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th style="width: 50px">Jersey Number</th>
                                    <th>Date of Birth</th>
                                    <th>Nationality</th>
                                    <th>Gender</th>
                                    @{
                                        if (!isSubmitted)
                                        {
                                            <th></th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody id="formRows">
                                @for (int i = 0; i < players.Count(); i++)
                                {
                                    <tr data-id="@players[i].Id">
                                        <td>
                                            <span>@players[i].Value("licenseNumber")</span>
                                        </td>
                                        <td>

                                            <span>@players[i].Value("role")</span>
                                        </td>
                                        <td>

                                            <span>@players[i].Value("firstName")</span>
                                        </td>
                                        <td>

                                            <span>@players[i].Value("lastName")</span>
                                        </td>
                                        <td>
                                            <span>@players[i].Value("jerseyNumber")</span>
                                        </td>
                                        <td>
                                            @{
                                                var dob = players[i].Value<DateTime>("dateOfBirth").ToString("dd.MM.yyyy");
                                                if (dob == "01.01.0001" || dob == "01.01.1753")
                                                {
                                                    dob = null;
                                                }
                                            }
                                            <span>@dob</span>
                                        </td>
                                        <td>
                                            <span>@players[i].Value("nationality")</span>
                                        </td>
                                        <td>

                                            <span>@players[i].Value("gender")</span>
                                        </td>
                                        @{
                                            if (!isSubmitted)
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-danger" onclick="event.stopPropagation(); deleteRow(this)">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>                                            
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @{
                        if (!isSubmitted)
                        {
                            <button id="addRowButton" type="button">Add Row</button>
                        }
                    }

                </div>

                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-bench" role="tabpanel" aria-labelledby="v-pills-bench-tab">
                    <table id="benchOfficials" class="table table-hover mb-5 tablesaw" data-tablesaw-mode="stack">
                        <thead>
                            <tr>
                                <th style="width: 150px">License</th>
                                <th>Role</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date of Birth</th>
                                <th>Nationality</th>
                                <th>Gender</th>
                                @{
                                    if (!isSubmitted)
                                    {
                                        <th></th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody id="formRowsBench">
                            @for (int i = 0; i < benchOfficials.Count(); i++)
                            {
                                <tr data-id="@benchOfficials[i].Id">
                                    <td>
                                        <span>@benchOfficials[i].Value("licenseNumber")</span>
                                    </td>
                                    <td>
                                        <span>@benchOfficials[i].Value("role")</span>

                                    </td>
                                    <td>

                                        <span>@benchOfficials[i].Value("firstName")</span>
                                    </td>
                                    <td>

                                        <span>@benchOfficials[i].Value("lastName")</span>
                                    </td>
                                    <td>
                                        @{
                                            var dob = benchOfficials[i].Value<DateTime>("dateOfBirth").ToString("dd.MM.yyyy");
                                            if (dob == "01.01.0001" || dob == "01.01.1753")
                                            {
                                                dob = null;
                                            }
                                        }
                                        <span>@dob</span>
                                    </td>
                                    <td>
                                        <span>@benchOfficials[i].Value("nationality")</span>
                                    </td>
                                    <td>
                                        <span>@benchOfficials[i].Value("gender")</span>
                                    </td>
                                    @{
                                        if (!isSubmitted)
                                        {
                                            <td>
                                                <button type="button" class="btn btn-danger" onclick="event.stopPropagation(); deleteRow(this)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>                                            
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="addBenchOfficialButtonErrors" class="alert alert-danger" role="alert">
                        <h3>Cannot add more than 8 bench officials</h3>
                    </div>
                    @{
                        if (!isSubmitted)
                        {
                            <button id="addBenchOfficialButton" type="button">Add Row</button>
                        }
                    }

                </div>
                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-teamphoto" role="tabpanel" aria-labelledby="v-pills-teamphoto-tab">
                    <div>

                        @{
                            if (!isSubmitted)
                            {
                                <form action="/upload-team-photo" class="dropzone" id="teamPhotoDropzone"></form>
                            }
                        }
                        @{
                            if (nmaTeam != null)
                            {
                                var photo = nmaTeam.Value<IPublishedContent>("teamPhoto");
                                if (photo != null)
                                {
                                    <img id="teamPhoto" class="img img-fluid" src="@photo.Url()" />
                                }
                                else
                                {
                                    <img id="teamPhoto" class="img img-fluid" src="" />
                                }
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-logo" role="tabpanel" aria-labelledby="v-pills-teamlogophoto-tab">
                    <div>
                        <div id="logo warning" class="alert alert-warning" role="alert">
                            <h3>Please ensure logos have either a white or transparrent background.</h3>
                            <p>This makes it easier for the host and production of event programs, and media campaigns</p>
                        </div>
                        @{
                            if (!isSubmitted)
                            {
                                <form action="/upload-team-logo" class="dropzone" id="teamLogoDropzone"></form>
                            }
                        }

                        @{
                            if (nmaTeam != null)
                            {
                                var logo = nmaTeam.Value<IPublishedContent>("teamLogo");
                                if (logo != null)
                                {
                                    <img id="teamLogo" class="img img-fluid" src="@logo.Url()" />
                                }
                                else
                                {
                                    <img id="teamLogo" class="img img-fluid" src="" />
                                }
                            }
                        }

                    </div>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-sponsors" role="tabpanel" aria-labelledby="v-pills-sponsors-tab">
                    <div>
                        @{
                            if (!isSubmitted)
                            {
                                <form action="/upload-multiple-files" class="dropzone" id="multipleFilesDropzone"></form>
                            }
                        }

                        <div class="row" id="sponsor-images">
                            @{
                                if (nmaTeam != null)
                                {
                                    var sponsors = nmaTeam.Children().Where(x => x.ContentType.Alias == "sponsor");

                                    foreach (var sponsor in sponsors)
                                    {
                                        var logo = sponsor.Value<IPublishedContent>("sponsorImage");
                                        // when sponsor is added it has a media id and then when its attached to the nma it has a nma id.
                                        // Need to delete the media and the link to the the team
                                        var id = @sponsor.Id;
                                        if (logo != null)
                                        {
                                            <div id="sponsor-@id" class="col-12 col-sm-12 col-md-4 col-lg-4 mt-3 sponsor-container">
                                                <div class="image-overlay" style="display:none;">
                                                    <span class="btn btn-danger mt-2" onclick="deleteImage(@id, @logo.Id)">Delete</span>
                                                </div>
                                                <img id="@id" data-media="@logo.Id" class="img img-fluid delete-btn" src="@logo.Url()" />

                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-submit" role="tabpanel" aria-labelledby="v-pills-submit-tab">
                    @{

                        if (@team.Value<bool>("teamInformationSubmitted"))
                        {
                            var submittedDate = team.Value<DateTime>("teamInformationSubmissionDate").ToString("dd.MM.yyyy HH:mm");
                            var submittedBy = team.Value<IPublishedContent>("teamInformationSubmittedBy");
                            <h5>Submitted : @submittedDate By @submittedBy.Name</h5>
                        }
                        else
                        {
                            <button id="submitDraft" class="btn btn-light">Save Draft</button>
                            <button id="submit" class="btn btn-secondary">Submit</button>

                            <div id="saveMessage"></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*Change name to first name and last name*@
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Data</h5>
                <button type="button" class="close close-edit" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- The form inside the modal -->
                <form id="edit-form">
                    <div class="form-group">
                        <label for="license">License: <span>- optional</span></label>
                        <input type="text" class="form-control" id="license" name="license">
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        <select class="form-control" id="role" name="role">
                            <option value="">Select Role</option>
                            <option value="Captain">Captain</option>
                            <option value="Assistant Captain">Assistant Captain</option>
                            <option value="Netminder">Netminder</option>
                            <!-- Add other role options here -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div id="jerseyNumberFormGroup" class="form-group">
                        <label for="jerseyNumber">Jersey Number:</label>
                        <input type="text" class="form-control" id="jerseyNumber" name="jerseyNumber">
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth: <span>- optional</span></label>
                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth">
                    </div>
                    <div class="form-group">
                        <label for="nationality">Nationality: <span>- optional</span></label>
                        <select class="form-control" id="nationality" name="nationality">
                            <option value="">Nationality</option>
                            @foreach (var country in countries)
                            {
                                <option value="@country.Country">@country.Country</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender: <span>- optional</span></label>
                        <!-- Label and select for Gender -->
                        <select class="form-control" id="gender" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <!-- Add other gender options here -->
                        </select>
                    </div>

                    <!-- Add more input fields as necessary -->
                </form>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div id="modal-alert" class="alert alert-danger">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-edit" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Update table</button>
            </div>
        </div>
    </div>
</div>

<!-- Summernote JS used for rich text editor-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>

<script>
    var countries = @Html.Raw(Json.Serialize(@countries));
    Dropzone.autoDiscover = false; // Prevent auto initialization

    function deleteRow(button) {
        // Find the row containing the clicked button
        var row = $(button).closest('tr');

        // Extract the license number from the span
        var licenseNumber = row.find("td:eq(0) span span").text().trim();

        // Add the license number to the array (if it's not empty)
        if (licenseNumber) {
            deletedLicenseNumbers.push(licenseNumber);
        }
        var titleEvent = $('#shortCode').val()
        var rosterId = row.data('id')
        var eventSelectValue = $("#eventSelect").val();
        var isChampionship = eventSelectValue.toLowerCase().includes("championship");

        var startDateText = $("#startDate").text();
        var eventYear = ''

        if (startDateText) {
            var parts = startDateText.split('.');

            if (parts.length >= 3) {
                eventYear = parts[2];
            } else {
                console.log("The date format is not as expected.");
            }
        } else {
            console.log("No text found for #startDate.");
        }

        var teamName = $("#teamName").val()

        if (rosterId === 0) {
            row.remove();
            return;
        }

        var url = `/api/events/itc/team/title-event/${titleEvent}/championship/${isChampionship}/year/${eventYear}/team/${teamName}/roster-member/${rosterId}`
        var encodedUrl = encodeURI(url);
        $.ajax({
            url: encodedUrl,
            type: 'DELETE',
            success: function (data) {
                // Remove the row from the table
                row.remove();
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
                // Show alert that something went wrong
            }
        });
    }

    function deleteImage(id, mediaId) {

        var titleEvent = $('#shortCode').val()
        var eventSelectValue = $("#eventSelect").val();
        var isChampionship = eventSelectValue.toLowerCase().includes("championship");

        var startDateText = $("#startDate").text();
        var eventYear = ''

        if (startDateText) {
            var parts = startDateText.split('.');

            if (parts.length >= 3) {
                eventYear = parts[2];
            } else {
                console.log("The date format is not as expected.");
            }
        } else {
            console.log("No text found for #startDate.");
        }

        var teamName = $("#teamName").val()

        var url = `/api/events/team-submission/team/title-event/${titleEvent}/championship/${isChampionship}/year/${eventYear}/team/${teamName}/sponsor/${id}/media/${mediaId}`
        var encodedUrl = encodeURI(url);
        $.ajax({
            url: encodedUrl,
            type: 'DELETE',
            success: function (data) {
                // Remove the row from the table
                $("#sponsor-" + id).slideUp();
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
                // Show alert that something went wrong
            }
        });

    }

    $(document).ready(function () {

        $('#teamHistory').summernote({
            toolbar: [
                // Define the toolbar: text formatting, lists, paragraphs, height (line spacing)
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
            ],
            placeholder: 'Start typing here...IISHF Title Wins, Participations, Domestic Wins',
            tabsize: 2,
            height: 300
        });

    @{
        if (nmaTeam != null && !string.IsNullOrWhiteSpace(nmaTeam.Value<string>("teamHistory")))
        {
            <text>
                            var teamHistoryContent = @Html.Raw(JsonSerializer.Serialize(nmaTeam.Value<string>("teamHistory")));
                $('#teamHistory').summernote('code', teamHistoryContent);
            </text>
        }
    }

            if ($("#teamPhotoDropzone").length) {
            var teamPhotoDropzone = new Dropzone("#teamPhotoDropzone", {
                url: "/upload-team-photo",
                autoProcessQueue: false,
                maxFiles: 1,
                addRemoveLinks: true,
                dictDefaultMessage: "Drag and drop a team photo here or click",
                acceptedFiles: "image/*,application/pdf", // Accept images and PDFs
                accept: function (file, done) {
                    // Check if the file is an image for dimension validation
                    if (file.type.match(/image.*/)) {
                        // Image dimension validation
                        file.acceptDimensions = done;
                        file.rejectDimensions = function () { done("The image must be at least 1920x1080 pixels."); };
                        // Load the image to check its dimensions
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = new Image();
                            img.onload = function () {
                                if (img.width >= 1920 && img.height >= 1080) {
                                    file.acceptDimensions();
                                } else {
                                    file.rejectDimensions();
                                }
                            };
                            img.src = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    } else if (file.type === "application/pdf") {
                        // Immediately accept PDF files without dimension checks
                        done();
                    } else {
                        // Reject files that are neither images nor PDFs
                        done("File must be an image or a PDF.");
                    }
                },
                init: function () {
                    this.on("thumbnail", function (file) {
                        // If an image doesn't meet the size criteria, reject it
                        if (file.type.match(/image.*/) && (file.width < 1920 || file.height < 1080)) {
                            file.rejectDimensions();
                        }
                    });
                    this.on("addedfile", function (file) {
                        if (file.accepted === false) {
                            var errorMark = file.previewElement.querySelector('.dz-error-mark');
                            errorMark.style.display = 'block';
                            // Bind click event to the error mark to remove the file
                            errorMark.addEventListener('click', function () {
                                file.previewElement.remove();
                                teamPhotoDropzone.removeFile(file);
                            });
                        }
                    });
                }
            });
        }


        if ($("#teamLogoDropzone").length) {
            var teamLogoDropzone = new Dropzone("#teamLogoDropzone", {
                url: "/upload-team-photo",
                autoProcessQueue: false,
                maxFiles: 1,
                addRemoveLinks: true,
                dictDefaultMessage: "Drag and drop a team logo here or click",
                acceptedFiles: "image/*,application/pdf", // Accept images and PDFs
                accept: function (file, done) {
                    // Check if the file is an image for dimension validation
                    if (file.type.match(/image.*/)) {
                        // Image dimension validation
                        file.acceptDimensions = done;
                        file.rejectDimensions = function () { done("The image must be at least 1920x1080 pixels."); };
                        // Load the image to check its dimensions
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = new Image();
                            img.onload = function () {
                                if (img.width >= 1920 && img.height >= 1080) {
                                    file.acceptDimensions();
                                } else {
                                    file.rejectDimensions();
                                }
                            };
                            img.src = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    } else if (file.type === "application/pdf") {
                        // Immediately accept PDF files without dimension checks
                        done();
                    } else {
                        // Reject files that are neither images nor PDFs
                        done("File must be an image or a PDF.");
                    }
                },
                init: function () {
                    this.on("thumbnail", function (file) {
                        // If an image doesn't meet the size criteria, reject it
                        if (file.type.match(/image.*/) && (file.width < 1920 || file.height < 1080)) {
                            file.rejectDimensions();
                        }
                    });
                    this.on("addedfile", function (file) {
                        if (file.accepted === false) {
                            var errorMark = file.previewElement.querySelector('.dz-error-mark');
                            errorMark.addEventListener('click', function () {
                                teamLogoDropzone.removeFile(file);
                            });
                        }
                    });

                }
            });
        }

        if ($("#multipleFilesDropzone").length) {
            // Multiple Files Dropzone
            var multipleFilesDropzone = new Dropzone("#multipleFilesDropzone", {
                url: "/upload-multiple-files",
                autoProcessQueue: false, // Disable auto processing
                addRemoveLinks: true,
                dictDefaultMessage: "Drag and drop multiple files here or click",
            });
        }

        $('#submitDraft').click(function (e) {
            e.preventDefault();
            submit(true)
        });

        $('#submit').click(function (e) {
            e.preventDefault();
            submit(false)
        });

        function submit(isDraft) {

            // Create a FormData object
            var formData = new FormData();

            // Assuming you have multiple Dropzone instances like teamPhotoDropzone, teamLogoDropzone, and multipleFilesDropzone
            var allDropzones = [teamPhotoDropzone, teamLogoDropzone, multipleFilesDropzone]; // Add all your Dropzone instances here

            allDropzones.forEach(function (dropzone) {
                dropzone.files.forEach(function (file) {
                    console.log("appending file: " + file.name)
                    formData.append(dropzone.element.getAttribute("id"), file, file.name); // Use the Dropzone's element ID as the name
                });
            });
            var json = generateJson(isDraft); // Ensure this function returns your structured JSON data
            formData.append("json", JSON.stringify(json));

            // Check if there are players in the roster
            var hasPlayers = json.ItcRosterMembers.some(function (member) {
                return member.JerseyNumber !== undefined && member.JerseyNumber !== null;
            });

            var errors = []

            if (!hasPlayers) {
                console.log("");
                errors.push("No players found")
            }

            var dzInstance = Dropzone.forElement("#teamLogoDropzone");
            var teamLogoCount = dzInstance.files.length;
            if ($.trim($("#teamLogo").attr("src")) === "" && teamLogoCount === 0) {
                errors.push("Team Logo not found")
            }


            var dzInstance = Dropzone.forElement("#teamPhotoDropzone");
            var teamPhotoCount = dzInstance.files.length;

            if ($.trim($("#teamPhoto").attr("src")) === "" && teamPhotoCount === 0) {
                errors.push("Team Photo not found")
            }

            if (errors.length > 0) {

                var html = '<div id="saveSuccess" class="col-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger text-center">'
                html += '<ul>'
                errors.forEach(function (error) {
                    html += '<li>' + error + '</li>'
                })
                html += '</ul>'

                html += '</div>'
                $('#saveMessage').html(html)
                return;
            }

            console.log("FormData data:");
            console.log(formData.get("data"));

            console.log("FormData json:");
            console.log(formData.get("json"));


            console.log("FormData files:");
            console.log(formData.get("teamLogoDropzone"));
            console.log(formData.get("teamPhotoDropzone"));
            console.log(formData.get("multipleFilesDropzone"));

            //AJAX call to send data
            $.ajax({
                type: "PUT",
                url: "/api/events/team-information-submission",
                data: formData,
                processData: false, // Important: don't process files
                contentType: false, // Important: set content type to false
                success: function (result) {
                    console.log("Sending results to update row ids");
                    updateRowIds(result);
                    updateImage(result.teamPhotoPath, "teamPhoto", "teamPhotoDropzone")
                    updateImage(result.teamLogoPath, "teamLogo", "teamLogoDropzone")
                    UpdateSponsors(result.sponsorPaths)
                    console.log(result.sponsorPaths)

                    if (isDraft) {
                        var html = '<div id="saveSuccess" class="col-12 col-sm-12 col-md-4 col-lg-4 alert alert-success">Save as draft successfully completed</div>'
                        $('#saveMessage').html(html)
                        setTimeout(function () {
                            $('#saveMessage').slideUp()
                        }, 500)
                    }
                    else {
                        var html = '<div class="alert alert-success">Team Information has been submitted to the host. </br>You should receive an email with a copy of the submitted information within the next 10 minutes.  If not received, please check your spam folder. </br> If you have any issues, please contact <a href="mailto:webmaster@iishf.com">IISHF Webmaster</a> </div>'
                        $('#saveMessage').html(html)
                        $("#submitDraft").hide();
                        $("#submit").hide();
                        $('.btn.btn-danger.delete-btn').hide();
                        $("#addRowButton").hide();
                        $("#addBenchOfficialButton").hide();
                        $(".dropzone").hide();
                        $('.input-group.mb-3').find('button, input').prop('disabled', true);
                        $('#teamHistory').summernote('disable');

                    }
                },
                error: function (error) {
                    console.log("Error", error);
                    var html = '<div id="saveSuccess" class="col-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger text-center">There was a problem saving your data. </br>If the problem persists, please contact <a href="mailto:webmaster@iishf.com">IISHF Webmaster</a> </div>'
                    $('#saveMessage').html(html)

                }
            });

        }

        function UpdateSponsors(sponsors) {

            $('#sponsor-images').empty();

            // Loop through each sponsor in the array
            $.each(sponsors, function (index, sponsor) {
                // Create the HTML string for each sponsor
                var sponsorHtml = '<div id=sponsor-' + sponsor.id + ' class="col-12 col-sm-12 col-md-4 col-lg-4 mt-3">' +
                    '<img id="' + sponsor.id + '" class="img img-fluid" src="' + sponsor.path + '" />' +
                    '<span class="btn btn-danger w-100 mt-2" onclick="deleteImage(' + sponsor.id + ', ' + sponsor.mediaId + ')">Delete</span>' +
                    '</div>';

                // Append the new sponsor HTML to the sponsor-images div
                $('#sponsor-images').append(sponsorHtml);
            });
            clearDropzoneById("multipleFilesDropzone");
        }

        function updateImage(imagePath, elementId, dropzoneId) {
            var imageElement = $('#' + elementId);
            imageElement.attr('src', imagePath);
            clearDropzoneById(dropzoneId);
        }

        function clearDropzoneById(dropzoneId) {
            var myDropzone = Dropzone.forElement('#' + dropzoneId);
            myDropzone.removeAllFiles(true);
        }

        function showOverlay() {
            $(this).closest('.sponsor-container').find('.image-overlay').css('display', 'flex');
        }

        // Function to hide the overlay
        function hideOverlay() {
            $(this).closest('.sponsor-container').find('.image-overlay').css('display', 'none');
        }

        // Attach the showOverlay function to mouseenter on both the delete button and the overlay itself
        $('.delete-btn, .image-overlay').mouseenter(showOverlay);

        // Attach the hideOverlay function to mouseleave on the overlay
        $('.image-overlay').mouseleave(hideOverlay);

        function generateJson(isDraft) {

            // Retrieve the value of the element with ID 'startDate'
            var startDate = $("#startDate").text();
            var year = "";
            // Check if startDate is not undefined or null
            if (startDate) {
                // Split the value by the dot
                var parts = startDate.split('.');

                // Check if the array has at least three parts (to avoid errors)
                if (parts.length >= 3) {
                    year = parts[2]; // This will be the third part of the split string
                } else {
                    console.log("The date format is not as expected.");
                }
            } else {
                console.log("No value found for #startDate.");
            }

            var formData = {
                "EventYear": parseInt(year, 10), 
                "TitleEvent": $('#shortCode').val(), 
                "isChampionship": document.getElementById('isChampionship').checked, 
                "ItcRosterMembers": [],
                "TeamName": $('#teamName').val(),
                "JerseyOne": $('#colourOne').val(),
                "JerseyTwo": $('#colourTwo').val(),
                "TeamHistory": $("#teamHistory").summernote('code'),
                "SubmitToHost": !isDraft
            };

            var processRow = function (currentRow, isBench) {
                var $currentRow = $(currentRow); // Convert to jQuery object
                var rosterId = $currentRow.attr('data-id');
                var license = currentRow.querySelector("td:nth-child(1) span span").textContent.trim();
                var role = currentRow.querySelector("td:nth-child(2) span span").textContent.trim();
                var firstName = currentRow.querySelector("td:nth-child(3) span span").textContent.trim();
                var lastName = currentRow.querySelector("td:nth-child(4) span span").textContent.trim();
                var dateOfBirth = null;
                if (isBench) {
                    dateOfBirth = currentRow.querySelector("td:nth-child(5) span span").textContent.trim();
                    var nationality = currentRow.querySelector("td:nth-child(6) span span").textContent.trim();
                    var gender = currentRow.querySelector("td:nth-child(7) span span").textContent.trim();
                } else {

                    var jerseyNumber = parseInt(currentRow.querySelector("td:nth-child(5) span span").textContent.trim(), 10);
                    dateOfBirth = currentRow.querySelector("td:nth-child(6) span span").textContent.trim();
                    var nationality = currentRow.querySelector("td:nth-child(7) span span").textContent.trim();
                    var gender = currentRow.querySelector("td:nth-child(8) span span").textContent.trim();
                }

                if (dateOfBirth === "01.01.0001" || dateOfBirth === "01.01.1753") {
                    dateOfBirth = null;
                }

                // Split the date into [day, month, year]
                var parts = dateOfBirth.split(".");

                // Rearrange the parts into yyyy-mm-dd format
                // Note: parts index starts from 0, so parts[0] is day, parts[1] is month, parts[2] is year
                var formattedDate;

                // Check if dateOfBirthText is empty, undefined, or not in the expected format
                if (!dateOfBirth || dateOfBirth.split(".").length !== 3) {
                    formattedDate = null; // Set to null if the date is invalid
                } else {
                    // If the date is valid, format it
                    var parts = dateOfBirth.split(".");
                    formattedDate = parts[2] + "-" + parts[1] + "-" + parts[0]; // yyyy-mm-dd format
                }

                formData.ItcRosterMembers.push({
                    "Id": parseInt(rosterId, 10),
                    "License": license,
                    "FirstName": firstName,
                    "LastName": lastName,
                    "JerseyNumber": parseInt(jerseyNumber, 10),
                    "Role": role,
                    "IsBenchOfficial": isBench,
                    "DateOfBirth": formattedDate,
                    "Nationality": nationality,
                    "Gender": gender
                });
            };

            document.querySelectorAll('#formRows tr').forEach(function (row) {
                processRow(row, false);
            });

            document.querySelectorAll('#formRowsBench tr').forEach(function (row) {
                processRow(row, true);
            });

            return formData;
        }

        function updateRowIds(updatedRoster) {
            console.log("updating row ids")
            updatedRoster.itcRosterMembers.forEach(function (member) {
                if (member.Id !== 0) {
                    // Construct the jQuery selector to find the row with matching license number and last name
                    $("#data-table tbody tr").each(function () {
                        var firstName = $(this).find('td:nth-child(3) span span').text().trim();
                        var lastName = $(this).find('td:nth-child(4) span span').text().trim();
                        if (firstName === member.firstName && lastName === member.lastName) {
                            $(this).attr('data-id', member.id);
                        }
                    });

                    $("#benchOfficials tbody tr").each(function () {
                        var firstName = $(this).find('td:nth-child(3) span span').text().trim();
                        var lastName = $(this).find('td:nth-child(4) span span').text().trim();
                        if (firstName === member.firstName && lastName === member.lastName) {
                            $(this).attr('data-id', member.id);
                        }
                    });
                }
            });
        }

        function populateModalFromRow(currentRow) {
            var license = currentRow.find("td:eq(0) .tablesaw-cell-content span").text().trim();
            var role = currentRow.find("td:eq(1) .tablesaw-cell-content span").text().trim();
            var firstName = currentRow.find("td:eq(2) .tablesaw-cell-content span").text().trim();
            var lastName = currentRow.find("td:eq(3) .tablesaw-cell-content span").text().trim();
            var jerseyNumber = currentRow.find("td:eq(4) .tablesaw-cell-content span").text().trim();
            var dateOfBirth = currentRow.find("td:eq(5) .tablesaw-cell-content span").text().trim();
            var nationality = currentRow.find("td:eq(6) .tablesaw-cell-content span").text().trim();
            var gender = currentRow.find("td:eq(7) .tablesaw-cell-content span").text().trim();

            $('#edit-form #license').val(license);
            $('#edit-form #role').val(role);
            $('#edit-form #firstName').val(firstName);
            $('#edit-form #lastName').val(lastName);
            $('#edit-form #jerseyNumber').val(jerseyNumber);
            $('#edit-form #dateOfBirth').val(dateOfBirth);
            $('#edit-form #nationality').val(nationality);
            $('#edit-form #gender').val(gender);
        }

        function updateRowFromModal(row) {
            var gender = $('#edit-form #gender').val()
            if (gender === null) {
                gender = "";

            }

            row.find("td:eq(0) .tablesaw-cell-content span").text($('#edit-form #license').val());
            row.find("td:eq(1) .tablesaw-cell-content span").text($('#edit-form #role').val());
            row.find("td:eq(2) .tablesaw-cell-content span").text($('#edit-form #firstName').val());
            row.find("td:eq(3) .tablesaw-cell-content span").text($('#edit-form #lastName').val());
            row.find("td:eq(4) .tablesaw-cell-content span").text($('#edit-form #jerseyNumber').val());
            row.find("td:eq(5) .tablesaw-cell-content span").text($('#edit-form #dateOfBirth').val());
            row.find("td:eq(6) .tablesaw-cell-content span").text($('#edit-form #nationality').val());
            row.find("td:eq(7) .tablesaw-cell-content span").text(gender);
        }

        function updateBenchOfficialRowFromModal(row) {
            var gender = $('#edit-form #gender').val()
            if (gender === null) {
                gender = "";

            }
            row.find("td:eq(0) .tablesaw-cell-content span").text($('#edit-form #license').val());
            row.find("td:eq(1) .tablesaw-cell-content span").text($('#edit-form #role').val());
            row.find("td:eq(2) .tablesaw-cell-content span").text($('#edit-form #firstName').val());
            row.find("td:eq(3) .tablesaw-cell-content span").text($('#edit-form #lastName').val());
            row.find("td:eq(4) .tablesaw-cell-content span").text($('#edit-form #dateOfBirth').val());
            row.find("td:eq(5) .tablesaw-cell-content span").text($('#edit-form #nationality').val());
            row.find("td:eq(6) .tablesaw-cell-content span").text(gender);
        }

        function populateModalForBenchOfficial(currentRow) {
            var license = currentRow.find("td:eq(0) .tablesaw-cell-content span").text().trim();
            var role = currentRow.find("td:eq(1) .tablesaw-cell-content span").text().trim();
            var firstName = currentRow.find("td:eq(2) .tablesaw-cell-content span").text().trim();
            var lastName = currentRow.find("td:eq(3) .tablesaw-cell-content span").text().trim();
            var dateOfBirth = currentRow.find("td:eq(4) .tablesaw-cell-content span").text().trim();
            var nationality = currentRow.find("td:eq(5) .tablesaw-cell-content span").text().trim();
            var gender = currentRow.find("td:eq(6) .tablesaw-cell-content span").text().trim();

            $('#edit-form #license').val(license);
            $('#edit-form #role').val(role);
            $('#edit-form #firstName').val(firstName);
            $('#edit-form #lastName').val(lastName);
            $('#edit-form #dateOfBirth').val(dateOfBirth);
            $('#edit-form #nationality').val(nationality);
            $('#edit-form #gender').val(gender);

            // Hide the jersey number field for bench officials
            $('#edit-form #jerseyNumber').closest('.form-group').hide();

            // Clear existing role options and add options for bench officials
            var rolesForBenchOfficial = [
                "Head Coach",
                "Assistant Coach",
                "Bench Staff",
                "Training Staff",
                "Equipment Manager",
                "Physio",
                "Photographer"
            ];
            var $roleSelect = $('#edit-form #role');
            $roleSelect.empty(); // Remove existing options

            rolesForBenchOfficial.forEach(function (role) {
                $roleSelect.append($('<option>', { value: role, text: role }));
            });
            // Optionally, add a default option
            $roleSelect.prepend($('<option>', { value: '', text: 'Select Role' }).attr('selected', 'selected'));
        }

        function addNewRowFromModal() {

            var gender = $('#edit-form #gender').val()
            if (gender === null) {
                gender = "";
            }

            var newRowHtml = '<tr data-id="0">' +
                '<td><b class="tablesaw-cell-label">License</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #license').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Role</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #role').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">First Name</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #firstName').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Last Name</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #lastName').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Jersey Number</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #jerseyNumber').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Date of Birth</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #dateOfBirth').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Nationality</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #nationality').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Gender</b><span class="tablesaw-cell-content"><span>' + gender + '</span></span></td>' +
                '<td><button type="button" class="btn btn-danger delete-btn" onclick="event.stopPropagation(); deleteRow(this);"><i class="fas fa-trash"></i></button></td>' +
                '</tr>';
            $('#data-table tbody').append(newRowHtml);
        }

        function addBenchOfficialRowFromModal() {
            var gender = $('#edit-form #gender').val()
            if (gender === null) {
                gender = "";

            }

            var newRowHtml = '<tr data-id="0">' +
                '<td><b class="tablesaw-cell-label">License</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #license').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Role</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #role').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">First Name</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #firstName').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Last Name</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #lastName').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Date of Birth</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #dateOfBirth').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Nationality</b><span class="tablesaw-cell-content"><span>' + $('#edit-form #nationality').val() + '</span></span></td>' +
                '<td><b class="tablesaw-cell-label">Gender</b><span class="tablesaw-cell-content"><span>' + gender + '</span></span></td>' +
                '<td><button type="button" class="btn btn-danger delete-btn" onclick="event.stopPropagation(); deleteRow(this);"><i class="fas fa-trash"></i></button></td>' +
                '</tr>';
            $('#benchOfficials tbody').append(newRowHtml);
        }

        var currentRow = null;

        $('#data-table').on('click', '.btn-danger', function (event) {
            console.log("989")
            event.stopPropagation(); // Prevent click event from bubbling up to the row
            deleteRow(this); // Call your deleteRow function
        });

        $('#addRowButton').on('click', function () {
            $('#modal-alert').hide();
            currentMode = 'addPlayer';
            $("#jerseyNumberFormGroup").show()
            currentRow = null;
            clearModalFields();
            $('#editModal').modal('show');

            // Restore standard role options
            var standardRoles = [
                "Captain",
                "Assistant Captain",
                "Netminder",
                "Forward",
                "Defence"
                // Add other standard roles as necessary
            ];
            var $roleSelect = $('#edit-form #role');
            $roleSelect.empty(); // Remove existing options
            standardRoles.forEach(function (role) {
                $roleSelect.append($('<option>', { value: role, text: role }));
            });

            // Optionally, add a default option
            $roleSelect.prepend($('<option>', { value: '', text: 'Select Role' }).attr('selected', 'selected'));

            $('#editModal').modal('show');
        });

        $('#addBenchOfficialButton').on('click', function () {
            $('#modal-alert').hide();
            currentMode = 'addbenchOfficial';
            $("#jerseyNumberFormGroup").hide()
            currentRow = null;
            clearModalFields();
            $('#editModal').modal('show');

            // Clear existing role options and add options for bench officials
            var rolesForBenchOfficial = [
                "Head Coach",
                "Assistant Coach",
                "Bench Staff",
                "Training Staff",
                "Equipment Manager",
                "Physio",
                "Photographer"
            ];
            var $roleSelect = $('#edit-form #role');
            $roleSelect.empty(); // Remove existing options
            rolesForBenchOfficial.forEach(function (role) {
                $roleSelect.append($('<option>', { value: role, text: role }));
            });
            // Optionally, add a default option
            $roleSelect.prepend($('<option>', { value: '', text: 'Select Role' }).attr('selected', 'selected'));
        });

        function clearModalFields() {
            $('#edit-form').find('input[type="text"], select').val('');
        }

        function validatePlayerFields(validateJerseyNumber) {
            let missingFields = [];
            // Clear previous validation errors
            $('#firstName, #lastName, #jerseyNumber, #role').removeClass('is-invalid');
            $('#validationErrors').empty(); // Clear previous error messages


            if (!$('#firstName').val()) {
                $('#firstName').addClass('is-invalid');
                missingFields.push('First Name');
            }
            if (!$('#lastName').val()) {
                $('#lastName').addClass('is-invalid');
                missingFields.push('Last Name');
            }
            if (validateJerseyNumber) {
                if (!$('#jerseyNumber').val()) {
                    $('#jerseyNumber').addClass('is-invalid');
                    missingFields.push('Jersey Number');
                }
            }

            // Check for role selection
            if ($('#role').val() === '') {
                $('#role').addClass('is-invalid');
                missingFields.push('Role');
            }

            return missingFields; // Return the list of missing fields
        }

        $("#saveChanges").on("click", function () {
            var missingFields;
            if (currentMode === 'addPlayer' || currentMode === 'editPlayer') {
                missingFields = validatePlayerFields(true);
            }

            if (currentMode === 'addbenchOfficial' || currentMode === 'editBenchOfficial') {
                missingFields = validatePlayerFields(false);
            }

            if (missingFields.length > 0) {
                // Populate the validationErrors div with missing fields as bullet points
                let errorList = '<ul>';
                missingFields.forEach(function (field) {
                    errorList += `<li>${field} is required</li>`;
                });
                errorList += '</ul>';
                $('#modal-alert').html(errorList);
                $('#modal-alert').slideDown()
                return; // Prevent further execution
            }

            $('#modal-alert').slideUp()

            if (currentRow) {
                if (currentMode === 'editPlayer') {
                    updateRowFromModal(currentRow);
                } else if (currentMode === 'editBenchOfficial') {
                    updateBenchOfficialRowFromModal(currentRow);
                }
            } else {
                if (currentMode === 'addPlayer') {
                    // Update player row
                    addNewRowFromModal();
                } else if (currentMode === 'addbenchOfficial') {
                    // Update bench official row
                    addBenchOfficialRowFromModal();
                }
            }
            $('#editModal').modal('hide');
            clearModalFields();
        });

        function addRowToPlayer() {
            // Clear the form fields in the modal
            $('#edit-form').find('input[type="text"], select').val('');

            // Open the modal
            $('#editModal').modal('show');

            // Clear the currentRow variable since this is for adding a new row
            currentRow = null;
        }

        // Handle the save button click
        $(".close-edit").on("click", function () {
            // TODO: Add code to handle the form data, e.g., send an AJAX request
            $('#firstName, #lastName, #jerseyNumber, #role').removeClass('is-invalid');
            $('#validationErrors').empty(); // Clear previous error messages
            $('#editModal').modal('hide');
        });

        // When the user clicks anywhere outside of the modal, close it
        $(window).on("click", function (event) {
            var modal = $("#edit-modal");
            if ($(event.target).is(modal)) {
                $('#firstName, #lastName, #jerseyNumber, #role').removeClass('is-invalid');
                $('#validationErrors').empty(); // Clear previous error messages
                modal.hide();
            }
        });

        // Handle the form submission
        $("#edit-form").on("submit", function (event) {
            event.preventDefault();
            // TODO: Add code to handle the form data, e.g., send an AJAX request
            $('#firstName, #lastName, #jerseyNumber, #role').removeClass('is-invalid');
            $('#validationErrors').empty(); // Clear previous error messages
            $("#edit-modal").hide();
        });

        var nationalityDropdown = $('select[name^="Nationality"]');
        for (var i = 0; i < countries.length; i++) {
            var option = $('<option></option>').attr('value', countries[i]).text(countries[i]);
            nationalityDropdown.append(option);
        }

        $("#addBenchOfficialButtonErrors").hide()

        $('#eventSelect').on('change', function () {
            var selectedValue = $(this).val();
            $.get('/umbraco/surface/events/GetEventInformation', { id: selectedValue }, function (data) {
                $('#eventInformation').html(data);
            });
        });

        const pickr = Pickr.create({
            el: '#colorPicker',
            theme: 'classic', // or 'monolith', or 'nano'

            swatches: [
                'rgba(244, 67, 54, 1)',
                'rgba(233, 30, 99, 0.95)',
                // ... more colors
            ],

            components: {
                // Main components
                preview: true,
                opacity: true,
                hue: true,

                // Input / output Options
                interaction: {
                    hex: true,
                    input: true,
                }
            }
        });

        const pickr2 = Pickr.create({
            el: '#colorPicker2',
            theme: 'classic', // or 'monolith', or 'nano'

            swatches: [
                'rgba(244, 67, 54, 1)',
                'rgba(233, 30, 99, 0.95)',
                // ... more colors
            ],

            components: {
                // Main components
                preview: true,
                opacity: true,
                hue: true,

                // Input / output Options
                interaction: {
                    hex: true,
                    input: true,
                }
            },
            strings: {
                save: 'Apply', // Change the text for the save button to 'Apply'
                // ... other string customizations ...
            }
        });

        pickr.on('change', (color, instance) => {
            $('.pcr-button').first().css('--pcr-color', color.toRGBA().toString());
            pickerOneHexVal = color.toHEXA().toString()
            $("#colourOne").val(pickerOneHexVal)

        });

        pickr2.on('change', (color, instance) => {
            $('.pcr-button').last().css('--pcr-color', color.toRGBA().toString());
            pickerTwoHexVal = color.toHEXA().toString()
            $("#colourTwo").val(pickerTwoHexVal)
        });

        $('#colourOne').on('blur change', function () {

            var newColor = $(this).val(); // Get the new color value from the textbox
            pickr.setColor(newColor); // Update the color picker with the new color
        });

        // Event listener for the second textbox using jQuery
        $('#colourTwo').on('blur change', function () {
            var newColor = $(this).val(); // Get the new color value from the textbox
            pickr2.setColor(newColor); // Update the color picker with the new color
        });

        $('#data-table').on('click', '.btn-danger', function (event) {
            console.log("deleting row")
            event.stopPropagation(); // Prevent click event from bubbling up to the row
            deleteRow(this); // Call your deleteRow function
        });

    @{
        if (isSubmitted)
        {
            <text>
                $('.input-group.mb-3').find('button, input').prop('disabled', true);
                $('#teamHistory').summernote('disable');
                 $('#teamName').prop('disabled', true);
                 $('#teamSignatory').prop('disabled', true);

            </text>
        }

        else
        {
            <text>
                    // Prevent when submitted
                    $("#data-table tbody").on("click", "tr", function () {
                        console.log("shouldnt see this")
                        $('#modal-alert').hide();
                        currentMode = 'editPlayer';
                        currentRow = $(this);
                        populateModalFromRow(currentRow);
                        $('#editModal').modal('show');
                    });

                // Prevent when submitted
                $("#benchOfficials tbody").on("click", "tr", function () {
                    $('#modal-alert').hide();
                    currentMode = 'editBenchOfficial';
                    currentRow = $(this);
                    populateModalForBenchOfficial(currentRow);
                    $('#editModal').modal('show');
                });
            </text>
        }
                }

        @{
        if (selectedTournament != null && @selectedTournament.Id > 0)
        {
            <text>
                                                                                        var selectedValue = @selectedTournament.Id;
                $('#eventSelect').val(selectedValue).change();
                $('#eventSelect').prop('disabled', true);

            </text>
        }

        if (!string.IsNullOrWhiteSpace(team?.Value<string>("countryIso3")))
        {
            <text>
                    $('#issuingCountry').prop('disabled', true);
            </text>

        }

            if (!string.IsNullOrWhiteSpace(team?.Value<string>("jerseyOneColour")))
            {
                <text>
                 setTimeout(function () { 
                 $('#colourOne').val('@(team?.Value<string>("jerseyOneColour"))').change();}, 500)
                        </text>

            }

            if (!string.IsNullOrWhiteSpace(team?.Value<string>("jerseyTwoColour")))
            {
                <text>
                     setTimeout(function(){
                     $('#colourTwo').val('@(team?.Value<string>("jerseyTwoColour"))').change();}, 500)

                            </text>

            }
    }

    });
</script>
