@model IISHF.Core.Models.FinalPlacementsViewModel
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using IISHF.Helpers

<div class="container">
    <div class="row">
        <div class="col-12">
            @{
                if (Model.TeamPlacements.All(x => x.Placement == 0))
                {
                    <h3 class="text-center">Awaiting result</h3>
                }
            }

            @foreach (var result in Model.TeamPlacements.OrderBy(placement => placement.Placement))
            {
                if (@result.Placement > 0)
                {
                    string boxClass = PlacementHelper.GetPlacementClass(result.Placement);

                    <div class="container finalPlacement">
                        <div class="row" style="margin: 5px;">
                            <div class="col-12 @boxClass">
                                <div class="d-flex align-items-center justify-content-start row">
                                    <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                                        <h6>@result.Placement.ToOrdinal()</h6>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <h6>@result.TeamName</h6>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                                        @{
                                            if (!string.IsNullOrWhiteSpace(@result.TeamLogoUrl))
                                            {

                                                <img class="img img-fluid" style="height: 40px; width: 40px" src="@result.TeamLogoUrl" alt="@result.TeamName" />
                                            }
                                        }
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                                        <h6>@result.Iso3</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/dataHub") // Ensure this matches your SignalR hub endpoint
            .configureLogging(signalR.LogLevel.Information)
            .withAutomaticReconnect([0, 2000, 10000, 30000, 60000, 120000, 300000, 600000, 1800000, 3600000, 7200000]) // Retry intervals up to 2 hours
            .build();

        connection.start().then(function () {
            console.log("SignalR connected");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.onreconnecting(function (error) {
            console.assert(connection.state === signalR.HubConnectionState.Reconnecting);
            console.log("Connection lost due to error. Reconnecting...", error);
        });

        connection.onreconnected(function (connectionId) {
            console.assert(connection.state === signalR.HubConnectionState.Connected);
            console.log("Connection reestablished. Connected with connectionId: " + connectionId);
        });

        connection.onclose(function (error) {
            console.assert(connection.state === signalR.HubConnectionState.Disconnected);
            console.log("Connection closed due to error. Try refreshing this page to restart the connection.", error);
        });

        connection.on("UpdateFinalPlacement", function (year, shortCode, group) {

            //Triggers a GET of the schedule and results again,
            //ToDo GET teams and logo url sent back instead
            $.get('/umbraco/surface/events/GetPlacementsThin', { year: year, titleEvent: shortCode }, function (data) {
                $('#eventPlacements').html(data);
            });
        });

    });
</script>