@using IISHF.Core.Controllers
@using MailKit.Search
@model IISHF.Core.Models.ScheduleAndResultsViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5 title">Schedule and Results</h1>
        </div>
        @{
            if (Model?.ScheduleAndResults == null || !Model.ScheduleAndResults.Any())
            {
                <h2 class="text-center">Schedule pending </h2>
            }

            foreach (var game in Model.ScheduleAndResults.OrderBy(x => x.GameNumber))
            {
                <div class="row justify-content-center align-items-stretch mb-3">
                    <div class="col-12 text-center">
                        @{
                            if (!string.IsNullOrWhiteSpace(game.GameSheetUrl))
                            {
                                    if (!string.IsNullOrWhiteSpace(game.Group))
                                    {
                                        <div class="badge bg-secondary text-white text-center">Game @game.GameNumber - Group : @game.Group - @game.GameDateTime.ToString("f") <br /> <a href="@game.GameSheetUrl" class="text-white" target="_blank">View Game Sheet </a></div>
                                    }
                                    else
                                    {
                                    <div class="text-center badge bg-secondary text-white">Game @game.GameNumber -@game.Remarks <br /> @game.GameDateTime.ToString("f") <br /> <a href="@game.GameSheetUrl" class="text-white" target="_blank">View Game Sheet </a></div>
                                    }
                            }
                            else
                            {
                                if (!string.IsNullOrWhiteSpace(game.Group.Trim()))
                                {
                                    <div class="badge bg-secondary text-white text-center">Game @game.GameNumber - Group : @game.Group - @game.GameDateTime.ToString("f")</div>
                                }
                                else
                                {
                                    <div class="text-center badge bg-secondary text-white">@game.Remarks <br /> @game.GameDateTime.ToString("f")</div>
                                }
                            }

                           
                        }
                    </div>
                    
                    <div class="col team home-team text-center">
                        <div class="col-sm-2 col-lg-2 text-start">
                            <img id="homeTeamImg_@game.GameNumber" class="img img-fluid" style="height: 45px; width: 45px" src="@game.HomeTeamLogoUrl" alt="@game.HomeTeam" />
                            <div class="col-sm-12 team-name-text text-center">
                                <span id="homeTeam_a_@game.GameNumber">@game.HomeTeam</span>
                            </div>
                        </div>
                        <div id="homeTeamName" class="col-sm-9 col-md-6 col-lg-6 text-center">
                            <span id="homeTeam_@game.GameNumber">@game.HomeTeam</span>

                        </div>
                        <div class="col-sm-1 col-md-4 score-center">
                            <span id="homeScore_@game.GameNumber">@game.HomeScore</span>
                        </div>
                    </div>
                    <div class="col-auto team trapezoid">
                        vs.
                    </div>
                    <div class="col team away-team text-center">
                        <div class="col-sm-1 col-md-4 col-lg-4 score-center">
                            <span id="awayScore_@game.GameNumber">@game.AwayScore</span>
                        </div>
                        <div id="awayTeamName" class="col-sm-9 col-md-6 col-lg-6 text-center">
                            <span id="awayTeam_@game.GameNumber">@game.AwayTeam</span>

                        </div>
                        <div class="col-sm-2 col-lg-2 text-end">
                            <img id="awayTeamImg_@game.GameNumber" class="img img-fluid" style="height: 45px; width: 45px" src="@game.AwayTeamLogoUrl" alt="@game.AwayTeam" />
                            <div class="team-name-text col-sm-12 text-center">
                                <span id="awayTeam_a_@game.GameNumber">@game.AwayTeam</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    $(document).ready(function () {

        if (@Model.ScheduleAndResults.Count === 0) {
            $("#v-pills-schedule-tab").hide()
        }

        // Define the media query for mobile view
        var isMobileView = window.matchMedia("(max-width: 992px)").matches;

        // Function to adjust text size based on the container width and text length
        function adjustTextSize($element) {
            var containerWidth = $element.parent().width();
            var textLength = $element.text().length;
            var fontSize = Math.min(24, Math.max(12, containerWidth / textLength)); // Adjust based on max and min font size

            $element.css('font-size', fontSize + 'px');
        }

        // Function to handle missing or failed images
        function handleMissingImage($img, $teamName) {
            if (isMobileView) {
                // Mobile view: Hide the image and show the team name
                $img.hide();
                $teamName.show();
                adjustTextSize($teamName);
            } else {
                // Non-mobile view: Hide both image and text
                $img.hide();
                $teamName.hide();
            }
        }

        $('.team img').each(function () {
            var $img = $(this);
            var $teamName = $img.next('.team-name-text');

            console.log("checking img string")

            // Check immediately if the src is missing or empty
            if (!$img.attr('src') || $img.attr('src').trim() === '') {
                console.log("no img string")
                handleMissingImage($img, $teamName);
            }

            // Add an event listener for error in loading the image
            $img.on('error', function () {
                handleMissingImage($img, $teamName);
            });
        });

        // Adjust text size for all team name texts
        $('.team-name-text').each(function () {
            adjustTextSize($(this));
        });
    });
</script>


<script>
    $(document).ready(function () {

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/dataHub") // Ensure this matches your SignalR hub endpoint
            .configureLogging(signalR.LogLevel.Information)
            .withAutomaticReconnect([0, 2000, 10000, 30000, 60000, 120000, 300000, 600000, 1800000, 3600000, 7200000]) // Retry intervals up to 2 hours
            .build();

        connection.start().then(function () {
            console.log("SignalR connected");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.onreconnecting(function (error) {
            console.assert(connection.state === signalR.HubConnectionState.Reconnecting);
            console.log("Connection lost due to error. Reconnecting...", error);
        });

        connection.onreconnected(function (connectionId) {
            console.assert(connection.state === signalR.HubConnectionState.Connected);
            console.log("Connection reestablished. Connected with connectionId: " + connectionId);
        });

        connection.onclose(function (error) {
            console.assert(connection.state === signalR.HubConnectionState.Disconnected);
            console.log("Connection closed due to error. Try refreshing this page to restart the connection.", error);
        });

        connection.on("UpdateSelectedGamesWithTeams", function (scheduledGames) {
            console.log(scheduledGames);
            if (scheduledGames && scheduledGames.scheduleAndResults) {
                scheduledGames.scheduleAndResults.forEach(function (game) {
                    console.log(game);
                    updateTeamAndLogo(game);
                });
            } else {
                console.error("ScheduledGames does not contain scheduleAndResults");
            }
        });


               connection.on("UpdateScores", function (gameNumber, homeScore, awayScore) {
            // Update scores for the specified game number
            $("#homeScore_" + gameNumber).text(homeScore);
            $("#awayScore_" + gameNumber).text(awayScore);

            console.log("Updating scores")
        }); 

        function updateTeamAndLogo(game) {
            // Update team names and logos based on game number
            $("#homeTeam_" + game.gameNumber).text(game.homeTeam);
            $("#homeTeam_a_" + game.gameNumber).text(game.homeTeam);
            $("#awayTeam_" + game.gameNumber).text(game.awayTeam);
            $("#awayTeam_a_" + game.gameNumber).text(game.awayTeam);


            // Update team logos
            var homeTeamImg = $("#homeTeamImg_" + game.gameNumber);
            var awayTeamImg = $("#awayTeamImg_" + game.gameNumber);

            homeTeamImg.attr("src", game.homeTeamLogoUrl).attr("alt", game.homeTeam);
            awayTeamImg.attr("src", game.awayTeamLogoUrl).attr("alt", game.awayTeam);

            // Remove display: none if present
            if (homeTeamImg.is(":hidden")) {
                homeTeamImg.show();
            }
            if (awayTeamImg.is(":hidden")) {
                awayTeamImg.show();
            }

            // Update team logos
            var $homeTeamImg = $("#homeTeamImg_" + game.gameNumber);
            if ($homeTeamImg.length > 0) {
                $homeTeamImg.attr("src", game.homeTeamLogoUrl).attr("alt", game.homeTeam);
            } else {
                // Optionally handle the case where the image element does not exist
                console.warn("Home team image element not found for game number " + game.gameNumber);
            }

            var $awayTeamImg = $("#awayTeamImg_" + game.gameNumber);
            if ($awayTeamImg.length > 0) {
                $awayTeamImg.attr("src", game.awayTeamLogoUrl).attr("alt", game.awayTeam);
            } else {
                // Optionally handle the case where the image element does not exist
                console.warn("Away team image element not found for game number " + game.gameNumber);
            }
        }
    });


</script>
