@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Events>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var id = Model.Id;
    var events = Umbraco.Content(id).Children();
    var selectedCalendarYear = DateTime.Now.Year;

    if (!string.IsNullOrWhiteSpace(Context.Request.Query["year"].ToString()))
    {
        int.TryParse(Context.Request.Query["year"].ToString(), out selectedCalendarYear);
    }

    var selectedEvent = events.FirstOrDefault(x => x.Name == selectedCalendarYear.ToString());
    if (selectedEvent == null)
    {
        selectedEvent = events.FirstOrDefault();
    }

    var teams = selectedEvent.Children().Where(x => x.ContentType.Alias == "team").ToList();
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Teams</h1>
        </div>
        @{
            foreach (var team in teams)
            {
                var teamInfo = team;
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 mb-3">
                    <!-- Adjust this for your desired column width -->
                    <div class="card border-0">
                        
                        @{
                            var image = team.Value<IPublishedContent>("image")?.Url(); // Get the image property
                            if (!string.IsNullOrWhiteSpace(image))
                            {
                                <img src="@image" class="card-img-top p-2" alt="...">
                            }
                        }

                        
                        <div class="card-body">
                            <h5 class="text-center team-name">@team.Name</h5>
                            <div class="col-12 text-center">
                                @if (@team.Value("TeamWebsite") != null && !string.IsNullOrWhiteSpace(@team.Value("TeamWebsite").ToString()))
                                {
                                    var link = team.Value<Umbraco.Cms.Core.Models.Link>("TeamWebsite");
                                    <a href="@link.Url" target="@link.Target"><i class="fa-duotone fa-globe-pointer text-black fa-lg m-2"></i></a>
                                }
                                @if (@team.Value("email") != null && !string.IsNullOrWhiteSpace(@team.Value("email").ToString()))
                                {
                                    <a href="mailto:@team.Value("email")"><i class="fa-regular fa-at text-black fa-lg m-2"></i></a>
                                }
                                @if (@team.Value("facebook") != null && !string.IsNullOrWhiteSpace(@team.Value("facebook").ToString()))
                                {
                                    var link = team.Value<Umbraco.Cms.Core.Models.Link>("facebook");
                                    <a href="@link.Url" target="@link.Target"><i class="fa-brands fa-square-facebook text-black fa-lg m-2"></i></a>
                                }
                                @if (@team.Value("twitter") != null && !string.IsNullOrWhiteSpace(@team.Value("twitter").ToString()))
                                {
                                    var link = team.Value<Umbraco.Cms.Core.Models.Link>("twitter");
                                    <a href="@link.Url" target="@link.Target"><i class="fa-brands fa-square-x-twitter text-black fa-lg m-2"></i></a>
                                }
                                @if (@team.Value("instagram") != null && !string.IsNullOrWhiteSpace(@team.Value("instagram").ToString()))
                                {
                                    var link = team.Value<Umbraco.Cms.Core.Models.Link>("instagram");
                                    <a href="@link.Url" target="@link.Target"><i class="fa-brands fa-square-instagram text-black fa-lg m-2"></i></a>
                                }
                                @if (@team.Value("youtube") != null && !string.IsNullOrWhiteSpace(@team.Value("youtube").ToString()))
                                {
                                    var link = team.Value<Umbraco.Cms.Core.Models.Link>("youtube");
                                    <a href="@link.Url" target="@link.Target"><i class="fa-brands fa-square-youtube text-black fa-lg m-2"></i></a>
                                }
                                @if (@team.Value("telephone") != null && !string.IsNullOrWhiteSpace(@team.Value("telephone").ToString()))
                                {
                                    var link = team.Value<Umbraco.Cms.Core.Models.Link>("telephone");
                                    <a href="tel:@team.Value("telephone")">
                                        <i class="fa-duotone fa-square-phone-flip text-black fa-lg m-2"></i>

                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>

<script>
    $(document).ready(function () {

        if (@teams.Count === 0) {
            $("#v-pills-teams-tab").hide()
            $("#v-pills-standings-tab").hide()
            $("#v-pills-placements-tab").hide()
        }
    });
</script>