@using IISHFTest.Core.Controllers
@using IISHFTest.Helpers
@using MailKit.Search
@model IISHFTest.Core.Models.GroupRankingsViewModel

@{
    var groups = Model.Rankings.GroupBy(x => x.Group);
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Standings</h1>
            @{
                if (groups.Count() == 1)
                {
                    <table class="table table-striped table-hover mb-5 tablesaw" data-tablesaw-mode="stack">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>G</th>
                                <th>W</th>
                                <th>L</th>
                                <th>T</th>
                                <th>GF</th>
                                <th>GA</th>
                                <th>+/-</th>
                                <th>Pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var team in groups.FirstOrDefault().OrderBy(x => x.GroupPlacement)
                    .ThenByDescending(x => x.Points)
                    .ThenByDescending(x => x.TieWeight)
                    .ThenByDescending(x => x.Wins)
                    .ThenByDescending(x => x.GoalsFor)
                    .ThenByDescending(x => x.GoalsAgainst)
                    .ThenByDescending(x => x.Differnce))
                            {
                                <tr>
                                    <td class="align-middle">@team.GroupPlacement.ToOrdinal()</td>

                                    @{
                                        if (string.IsNullOrWhiteSpace(@team.TeamLogoUrl))
                                        {
                                            <td colspan="2" class="align-middle"><strong>@team.TeamName</strong></td>
                                        }
                                        else
                                        {
                                            <td>
                                                <img class="img img-fluid" style="max-height: 50px" src="@team.TeamLogoUrl" alt="@team.TeamName" />
                                            </td>
                                            <td class="align-middle"><strong>@team.TeamName</strong></td>
                                        }
                                    }

                                    <td class="align-middle">@team.Games</td>
                                    <td class="align-middle">@team.Wins</td>
                                    <td class="align-middle">@team.Losses</td>
                                    <td class="align-middle">@team.Ties</td>
                                    <td class="align-middle">@team.GoalsFor</td>
                                    <td class="align-middle">@team.GoalsAgainst</td>
                                    <td class="align-middle">@team.Differnce</td>
                                    <td class="align-middle">@team.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    foreach (var group in groups.OrderBy(x => x.Key))
                    {
                        <h1 class="mb-3">Group @group.Key</h1>
                        <table class="table table-striped table-hover mb-5 tablesaw" data-tablesaw-mode="stack">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>G</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>T</th>
                                    <th>GF</th>
                                    <th>GA</th>
                                    <th>+/-</th>
                                    <th>Pts</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in group.OrderBy(x => x.GroupPlacement)
                           .ThenByDescending(x => x.Points)
                           .ThenByDescending(x => x.TieWeight)
                           .ThenByDescending(x => x.Wins)
                           .ThenByDescending(x => x.GoalsFor)
                           .ThenByDescending(x => x.GoalsAgainst)
                           .ThenByDescending(x => x.Differnce))
                                {
                                    <tr>
                                        <td class="align-middle">@team.GroupPlacement.ToOrdinal()</td>

                                        @{
                                            if (string.IsNullOrWhiteSpace(@team.TeamLogoUrl))
                                            {
                                                <td colspan="2" class="align-middle"><strong>@team.TeamName</strong></td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <img class="img img-fluid" style="max-height: 50px" src="@team.TeamLogoUrl" alt="@team.TeamName" />
                                                </td>
                                                <td class="align-middle"><strong>@team.TeamName</strong></td>
                                            }
                                        }

                                        <td class="align-middle">@team.Games</td>
                                        <td class="align-middle">@team.Wins</td>
                                        <td class="align-middle">@team.Losses</td>
                                        <td class="align-middle">@team.Ties</td>
                                        <td class="align-middle">@team.GoalsFor</td>
                                        <td class="align-middle">@team.GoalsAgainst</td>
                                        <td class="align-middle">@team.Differnce</td>
                                        <td class="align-middle">@team.Points</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Initialize Tablesaw
        $(document).trigger("enhance.tablesaw");
    });
</script>