@model IISHFTest.Core.Models.FinalPlacementsViewModel
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using IISHFTest.Helpers

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Placements</h1>

            @foreach (var result in Model.TeamPlacements.OrderBy(placement => placement.Placement))
            {
                string boxClass = PlacementHelper.GetPlacementClass(result.Placement);

                <div class="container mb-3">
                    <div class="row" style="margin: 5px;">
                        <div class="col-12 @boxClass">
                            <div class="d-flex align-items-center justify-content-start row">
                                <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                                    <h1>@result.Placement.ToOrdinal()</h1>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                    <h3>@result.TeamName</h3>
                                </div>
                                <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                                    <img class="img img-fluid" style="max-height: 75px" src="@result.TeamLogoUrl" alt="@result.TeamName" />
                                </div>
                                <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                                    <h3>@result.Iso3</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>