@using IISHFTest.Helpers
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Website.Controllers
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IMemberManager _memberManager;
@{
    Layout = null;

    var modelContent = Umbraco.ContentAtRoot().ToList();
    var homePage = modelContent
        .FirstOrDefault(x => x.Name == "Home");
}

<nav class="navbar navbar-expand-lg navbar-dark bg-black-opacity">
    <div class="container custom-container">
        <a class="navbar-brand" href="/">
            <img src="/images/IISHFLogo_text.png" alt="International Inline Skater Hockey Federation" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                @{
                    var children = homePage.Children();

                    foreach (var child in children.Where(x => x.IsVisible()))
                    {
                        if (child.Children().Any() && child.Name != "News")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/@child.UrlSegment" id="navbarDropdownMenuLink-@child.Id" data-bs-toggle="dropdown" aria-expanded="false">@child.Name</a>

                                @if (child.Name == "Tournaments")
                                {
                                    var grandChildren = child.Children().Where(x => x.IsVisible()).ToList();
                                    int itemsPerColumn = (int)Math.Ceiling(grandChildren.Count / 3.0);

                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink-@child.Id">
                                        <div class="row">
                                            
                                            @for (int col = 0; col < 3; col++)
                                            {
                                                <div class="col-md-4">
                                                    @for (int i = col * itemsPerColumn; i < (col + 1) * itemsPerColumn && i < grandChildren.Count; i++)
                                                    {
                                                        var grandChild = grandChildren[i];
                                                        <a class="dropdown-item" href="@grandChild.Url()">@grandChild.Name</a>
                    
                                                        // Loop through each great-grandchild and display under grandchild
                                                        foreach(var greatGrandChild in grandChild.Children().Where(x => x.IsVisible()))
                                                        {
                                                            <a class="dropdown-item ml-3" href="@greatGrandChild.Url()">@greatGrandChild.Name</a>
                                                        }
                                                    }
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-@child.Id">
                                        @foreach (var grandChild in child.Children().Where(x => x.IsVisible()))
                                        {
                                            if (child.Name == "Documents")
                                            {
                                                var file = grandChild.Value<IPublishedContent>("FileDownload");
                                                var fileUrl = file?.Url();
                                                var iconClass = FileIconHelper.GetIcon(fileUrl);

                                                <a class="dropdown-item" href="@fileUrl" target="_blank">
                                                    <i class="@iconClass p-1"></i>
                                                    @grandChild.Name
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" href="@grandChild.Url()">@grandChild.Name</a>
                                            }
                                        }
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/@child.UrlSegment">@child.Name</a>
                            </li>
                        }
                    }
                    @if (_memberManager.IsLoggedIn())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-duotone fa-circle-user"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">My Account</a></li>
                                    <li><a class="dropdown-item" href="#">Reset Password</a></li>
                                    <li><a class="dropdown-item" href="#">ITC</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout", new { RedirectUrl = "/" }))
                                        {
                                            //<button type="submit" class="btn btn-primary">Log out!!</button>
                                            <input type="submit" class="dropdown-item" value="Logout"/>
                                            

                                        }
                                    </li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/login">Sign up | Sign in</a>
                            </li>
                        }
                    
                }
            </ul>
        </div>
    </div>
</nav>

